<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Hotel Appellation</h3>
    </div>

    <a
      routerLink="/crafted/account/settings"
      class="btn btn-primary align-self-center"
    >
      Edit Profile
    </a>
  </div>
<!-- section 1 Start -->
  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Name</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">Hotel Demo</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Alternative Name</label>

      <div class="col-lg-8 fv-row">
        <span class="fw-bold fs-6">Hotel Demo Alt</span>
      </div>
    </div>
  </div>

<!-- section 1 End -->

<!-- section 2 Start -->
<div class="card-header cursor-pointer">
  <div class="card-title m-0">
    <h3 class="fw-bolder m-0">Hotel Details</h3>
  </div>
</div>

<div class="card-body p-9">
  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Full Description</label>

    <div class="col-lg-8">
      <span class="fw-bolder fs-6 text-dark">Tired of working? Our hotels provide a premium service on your holiday.</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Short Desciption</label>

    <div class="col-lg-8 fv-row">
      <span class="fw-bold fs-6">Our hotels provide a premium service on your holiday.</span>
    </div>
  </div>
</div>
<!-- section 2 End -->

<!-- section 3 Start -->
<div class="card-header cursor-pointer">
  <div class="card-title m-0">
    <h3 class="fw-bolder m-0">Hotel Contact</h3>
  </div>
</div>

<div class="card-body p-9">
  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Email</label>

    <div class="col-lg-8">
      <span class="fw-bolder fs-6 text-dark">sales@mysoftinn.com</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">
       Phone
      <i
        class="fas fa-exclamation-circle ms-1 fs-7"
        data-bs-toggle="tooltip"
        title="Phone number must be active"
      ></i>
    </label>

    <div class="col-lg-8 d-flex align-items-center">
      <span class="fw-bolder fs-6 me-2">+6062337725</span>

      <span class="badge badge-success">Verified</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Alt Phone</label>

    <div class="col-lg-8">
      <span class="fw-bolder fs-6 text-dark">01112345678</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Fax </label>

    <div class="col-lg-8">
      <span class="fw-bolder fs-6 text-dark">01112345678</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Address </label>

    <div class="col-lg-8">
      <span class="fw-bolder fs-6 text-dark">No.1-1 & 1-2, Jalan Komersial, Jalan TAKH 3, Taman Ayer Keroh Heights, 75450 Hang Tuah Jaya, Melaka</span>
    </div>
  </div>
</div>
<!-- section 3 End -->

<!-- section 4 Start -->
<div class="card-header cursor-pointer">
  <div class="card-title m-0">
    <h3 class="fw-bolder m-0">Hotel Analytics</h3>
  </div>
</div>

<div class="card-body p-9">
  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Domain</label>

    <div class="col-lg-8">
      <a href="#" class="fw-bold fs-6 text-dark text-hover-primary">
        letsgoholiday.com
      </a>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Facebook URL</label>

    <div class="col-lg-8">
      <a href="#" class="fw-bold fs-6 text-dark text-hover-primary">
        Facebook.com
      </a>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Softinn GA Tracking ID</label>

    <div class="col-lg-8 fv-row">
      <span class="fw-bold fs-6">UA-100682197-42</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Softinn GA View ID</label>

    <div class="col-lg-8 fv-row">
      <span class="fw-bold fs-6">203786918</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted">Softinn GTM ID</label>

    <div class="col-lg-8 fv-row">
      <span class="fw-bold fs-6">SASD1245235</span>
    </div>
  </div>

  <div class="row mb-7">
    <label class="col-lg-4 fw-bold text-muted"> Marchant GA Tracking ID</label>

    <div class="col-lg-8 fv-row">
      <span class="fw-bold fs-6">B1245235</span>
    </div>
  </div>
</div>
<!-- section 4 End -->

<div class="row gy-10 gx-xl-10">
  <div class="col-xl-6">
    <app-charts-widget1
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-charts-widget1>
  </div>

  <div class="col-xl-6">
    <app-tables-widget1
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-tables-widget1>
  </div>
</div>

<div class="row gy-10 gx-xl-10">
  <div class="col-xl-6">
    <app-lists-widget5
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-lists-widget5>
  </div>

  <div class="col-xl-6">
    <app-tables-widget5
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-tables-widget5>
  </div>
</div>
</div>
